/** @format */

:root {
	--primary-color: #242424;
	--secondary-color: #ededed;
	--third-color: #6d9886;
	--fourth-color: #d9cab3;
}

body {
	font-family: Arial;
	font-size: 120%;
	background-color: var(--primary-color);
	color: var(--secondary-color);
}

a {
	color: var(--third-color);
	text-decoration: none;
	transition: color 0.1s;
}

a:hover {
	color: var(--fourth-color);
}

button {
	display: inline-block;
	margin: 1rem;
	cursor: pointer;
	font-size: 100%;
	background-color: var(--third-color);
	border-radius: 1rem;
	padding: 1rem 1em;
	color: white;
	border: 0;
	transition: all 0.3s ease-in-out;
}

button:hover {
	background-color: var(--fourth-color);
}

.choices button {
	display: block;
}

ol {
	max-height: 25em;
	overflow: auto;
}

li {
	padding: 1em;
	list-style: decimal inside none;
}

li:nth-child(odd) {
	background-color: var(--fourth-color);
}

.wrapper {
	margin: 100px auto 0 auto;
	max-width: 35em;
}

.hide {
	display: none;
}

.start {
	text-align: center;
}

.scores {
	position: absolute;
	top: 1em;
	left: 1em;
}

.feedback {
	font-style: italic;
	font-size: 1205%;
	margin-top: 1.5em;
	padding-top: 1em;
	color: gray;
	border-top: 2px solid #ccc;
}

.timer {
	position: absolute;
	top: 1em;
	right: 1em;
}
